{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/estilo.css' %}">
</head>

<body>
    <h1>Hola mundo desde django!.</h1>
    <ul>
        {% for i in vehiculos %}
        <li>{{i.patente}}</li>
        <li>{{i.marca}}</li>
        <li>{{i.modelo}}</li>
        <li>{{i.categoria.nombreCategoria}}</li>
        {% endfor %}
    </ul>
    <img src="{% static 'core/img/gatito.jpg' %}" alt="">
</body>

</html>